@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    font-style: normal; 
    font-weight: bold;
}

* { 
    font-family: 'My Lucida', Console;
}


body {
    background: linear-gradient(to bottom, #efefef, white) no-repeat;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper {
    padding: 2% 0;
}

body > header {
    margin-bottom: 2%;
    background: white;
    box-shadow: 4em 0em 8em rgb(200, 200, 200);
}

header .logo-search form  {
    width: 50%;
}

@media (max-width: 30em){
header form { display: none; }
}


header .user {
    float: right;
    font-size: 0.5em;
}

header .btn .btn-secondary .dropdown-toggle{
    color: white;
}

header .user a {
    font-size: 1.3em;
    color: #89949b;
    padding-top: 0.2%;

}


@media (max-width: 30em){
main header p a { display: none; }
}


main h2 {
    margin-top: 0.4%;
}


main article {
    display: inline-block;
}

h3 {
    color: #b8c3c9;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 0.1%;
}

nav ul li a { 
    font-size: 0.7em;
    font-weight: normal;
    color: #828c92;
}

nav ul li a:hover {
    color: #fe7f19;
}

nav ul li {
    margin-top: 0.5%;
}

main header aside img {
    border: 0.1em solid #dadada;
    border-radius: 50%;
    box-shadow: 0 0 0.5em #cecece;
}

nav ul li:last-child {
    margin-bottom: 3em;
}

h1 {
    color: #4b5c66;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 0.4em 0;
}


.name p { 
    color: #a0aab1;
    font-size: 0.8em;
}



.name p img { 
    margin-left: 2em;
}




.stats-links {
    color: #4b5c66;
    font-size: 0.8em;
    padding: 1.5% 0% 1% 0%;
    border-bottom: 0.2% solid #e1e6e9;
    margin-bottom: 2%;
}

.stats-links span, .stats-links a {
    margin-right: 2.0%;
}

.stats-links a:last-child {
    margin-right: 0;
}

.stats-links a {
    font-size: 1em;
    font-weight: normal;
    color: #4b5c66;
}

h2 {
    font-size: 1.8em;
    font-weight: normal;
    color: #4b5c66;
}

header form {
    width: 100%;
}

input.search {
    background: url("../img/icon/search.png") #ebeff1 no-repeat 6%;
    box-shadow: none;
    height: 28%;
    width: 100%;
    font-size: 1.1em;
    padding: 0.5em 0.9em 0.2em 0.5em;
    border: 0.1em solid #d0dde9;
    margin: 0;
    border-radius: 15em;
    top: 11em;
    box-shadow: inset 0.1em 0.1em 0.5em #d5d5d5;
}

input.submit {
    display: none;
}

.station {
    font-size: 0.8em;
    color: #008fd5;
    border-radius: 0.5em;
    border: 0.1em solid #b8c3c9;
    cursor: pointer;
    padding: 0.7em 1em 0.7em 3em;
    box-shadow: 0.1em 0.1em #d5d5d5;
    background: url("../img/icon/station.png") no-repeat 0.8em;
    transition: all 0.4s;
}

.station:hover {
    background-color: #0A90D5;
    color: white;
    background-image: url("../img/icon/station-white.png");
}


#albums article {
    font-size: 0.8em;
    color: #89949b;
    margin: 1em 0;
}

#albums article img {
    border: 0.1em solid #cbcbcb;
    transition: all 0.3s;
    width: 100%;
}

#albums article img:hover {
    box-shadow: 0 0 1.5em #848484;
    transform: scale(1.1) rotate(-3deg);
}

#albums article figcaption {
    color: #4b5c66;
    margin-top: 0.6em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#albums article .artist, #albums article .count {
    margin-top: O.4em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#albums .explicit {
    color: #ff5d5d;
    margin-left: 0.5em;
}

nav.browse a, nav.music a {
    padding-left: 2em;
    padding-top: 0.2em;
}

nav a.heavy { background: url("../img/icon/heavy.png") no-repeat 0em; }
nav a.recent { background: url("../img/icon/recent.png") no-repeat 0em; }
nav a.top { background: url("../img/icon/top.png") no-repeat 0em; }
nav a.new { background: url("../img/icon/new.png") no-repeat 0em; }
nav a.collection { background: url("../img/icon/collection.png") no-repeat 0em; }
nav a.history { background: url("../img/icon/history.png") no-repeat 0em; }


